@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
body {
    font: normal 17pt Arial,serif;
}

input {
    font: normal 18pt Arial,serif;
    width: 260px;
    height: 40px;
    margin: 10px;
}

h1 {
    font: bold;
    font-family: 'Pacifico', cursive;
    padding: 15px;
}

.container {
    background-color: antiquewhite;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    line-height: 2em;
    width: 50rem;
    height: 32rem;
}

#botao {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(201, 188, 188, 0.445);
    cursor: pointer;
}