body {
    background-color: 
        rgb(26, 25, 25);
}

h1 {
    color: #fff;
    text-align: center;
}

h2 {
    color: #fff;
    text-align: center;
    margin-top: 13rem;
}

img {
    position: absolute;
    left: 47.5%;
    top: 50%
}

iframe {
    position: absolute;
    left: 36%;
    top: 10%
}

a {
    text-decoration: none;
}