@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

h1 {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    padding: 15px;
    font-size: 40px;
}

.botao {
    font: normal 14pt Arial,serif;
    margin: 10px 1px;
}

#resultado{
    font-size: 16pt;
}

#texto {
    font-size: 20pt;
    font-weight: bold;
}

span {
  line-height: 2;
}

.container {
    background-color: rgba(34, 78, 143, 0.548);
    border-radius: 10px;
    margin: auto;
    text-align: center;
    line-height: 2em;
    width: 50rem;
    height: 42rem;
}

input {
    font: normal 18pt Arial,serif;
    width: 340px;
    height: 40px;
    margin: 20px;
}

.botao {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(170, 169, 169, 0.377);
    cursor: pointer;
}